.padd-o {
	padding: 0px;
}

.padd-20 {
	padding: 20px;
}

.padd-24 {
	padding: 24px;
}

.padd-lr-26 {
	padding: 26px;
}

.padd-tb-10 {
	padding: 10px;
}

.mar-tb-10 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.padd-tb-50 {
	padding-top: 50px;
	padding-bottom: 50px;
}

.padd-lr-30 {
	padding-left: 30px;
	padding-right: 30px;
}

.padd-t-160 {
	padding-top: 160px;
}

.padd-l-40 {
	padding-left: 40px;
}

.mobile-padd {
	@media (max-width: calc($breakpoint-tablet + 40px)) {
		padding-left: 20px;
		padding-right: 20px;
	}
}