#footer-component {
	min-height: 332px;
	padding-bottom: 20px;
	background-color: var(--color_primany_003);
	position: sticky;
	margin-top: 160px;

	@media (max-width: $breakpoint-mobile) {
		padding-top: 40px;
		padding-bottom: 50px;
	}
}