#header-component {
	height: 160px;
	transition: 0.5s;

	#menu {
		@media (max-width: $breakpoint-mobile) {
			display: none;
		}
	}

	#mobile-menu {
		display: none;
		@media (max-width: $breakpoint-mobile) {
			display: flex;
		}
	}

	#client-area {
		@media (max-width: $breakpoint-tablet) {
			display: none;
		}
	}
}