.earth-container{position:relative;z-index:1}.earth-container::before{content:"";display:block;padding-top:100%}.earth-container>canvas{position:absolute;top:0;left:0;z-index:1000;user-select:none}.earth-draggable{cursor:all-scroll;cursor:-webkit-grab;cursor:grab}.earth-dragging *{cursor:all-scroll;cursor:-webkit-grabbing!important;cursor:grabbing!important}.earth-clickable{cursor:pointer}.earth-overlay{position:absolute;top:0;left:0;user-select:none;pointer-events:none;transform-origin:0 0}.earth-overlay a,.earth-overlay input,.earth-overlay button{pointer-events:all}.earth-hittest{position:fixed;width:200vh;max-width:100%;top:0;left:0;z-index:999999}.earth-hittest svg{max-width:100%;height:auto;display:block;margin:0;opacity:0}

#bgearth {
	width: 556px;

	@media (max-width: $breakpoint-mobile) {
		position: absolute;
		z-index: -5;
	}
}

.earth-js {
	transition: opacity 1.5s ease;
	opacity: 0;
}
.earth-js.earth-ready {
	opacity: 1;
}

.half-earth {
	position: relative;
	overflow: hidden;
}
.half-earth::before {
	content: "";
	display: block;
	padding-top: 50%;
}
.half-earth::after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	height: 1px;
	left: 0;
	right: 0;
	z-index: 15;
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 70%,rgba(255,255,255,0) 100%);
}
.half-earth > div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}