@font-face {
	font-family: "GilroyBolt";
	src: url("/assets/fonts/Gilroy-ExtraBold.otf");
}

@font-face {
	font-family: "Gilroy";
	src: url("/assets/fonts/Gilroy-Medium.ttf");
}

@font-face {
	font-family: "GilroyLight";
	src: url("/assets/fonts/Gilroy-Light.otf");
}

.fs {
	&.gray {
		color: var(--color_primany_001);
	}
	
	&.LIGHT {
		font-family: "GilroyLight";
	}
}

h1 {
	font-family: "GilroyBolt";
	font-weight: 700;
	font-size: 48px;
	line-height: 59px;
}

h2 {
	font-family: "GilroyBolt";
	font-weight: 700;
	font-size: 36px;
	line-height: 45px;
}

h3 {
	font-family: "GilroyBolt";
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
}

h4 {
	font-family: "GilroyBolt";
	font-weight: 700;
	font-size: 48px;
	line-height: 59px;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0px;
}