@font-face {
	font-family: "GilroyBolt";
	src: url("assets/fonts/Gilroy-ExtraBold.otf");
}

@font-face {
	font-family: "Gilroy";
	src: url("assets/fonts/Gilroy-Medium.ttf");
}

.fs {
	&.gray {
		color: var(--color_primany_001);
	}
	&.accent {
		color: var(--color_primany_002);
	}

	&.small-p {
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
	}
}

h1 {
	font-family: "GilroyBolt";
	font-weight: 700;
	font-size: 48px;
	line-height: 59px;
}

h2 {
	font-family: "GilroyBolt";
	font-weight: 700;
	font-size: 36px;
	line-height: 45px;
}

h3 {
	font-family: "GilroyBolt";
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
}

h4 {
	font-family: "Gilroy";
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
}

h5 {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0px;
	word-break: break-word;
	white-space: pre-line;
}

.wb-unset {
	word-break: normal !important;
}